html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif; 
}

body {
    width: 600px;
    margin: auto;
    background-color: #8cb9df;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(24, 113, 148);
}

h1 {
    font-size: 60px;
    color: #00539f;
    text-align: center;
}
  
p {
    font-size: 24px;
    color: #00539f;
    text-align: center;
}
  